* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}

html {
  background-color: rgb(0, 0, 0);
  color: rgb(28, 28, 28);
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

main {
  height: 100%;
  width: 100%;
  padding: 1rem;
  display: flex;
  gap: 3rem;
}

.products-card {
  width: 80rem;
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.product {
  border-radius: 1rem;
  padding: 1rem;
  max-width: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.product img {
  height: 20rem;
  width: 22rem;
  object-fit: cover;
  object-position: center;
  border-radius: 0.5rem;
}

.create-product {
  background-color: green;
  width: 20rem;
  padding: 1rem;
  border-radius: 0.4rem;
  height: fit-content;
}

.create-product form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.create-product form input {
  padding-block: 0.4rem;
  padding-inline: 1rem;
  border-radius: 0.3rem;
  outline: none;
}

.create-product form button {
  padding: 0.5rem;
  background-color: lightseagreen;
  font-size: 1rem;
  border: none;
  color: white;
}

.create-product form button:active {
  scale: 0.95;
}
