* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body,#root {
    height: 100%;
    width: 100%;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.users{
  padding-block: 0.6rem;
  padding-inline: 1rem;
  display: flex;
  gap: 1rem;
}

.user{
  background-color: rgb(48, 48, 48);
  max-width: 20rem;
  padding: 1rem;
  border-radius: 0.5rem;
}

.create-user-form{
  display: flex;
  flex-direction: column;
  max-width: 20rem;
  gap: 1rem;
  padding: 1rem;
  background-color: black;
  border-radius: 0.5rem;
  margin-left: 2rem;
  margin-top: 1rem;
}

